<h1><%= @doctor.name %>: Appointments</h1>
<%= link_to 'Add Appointment', new_doctor_appointment_path(@doctor) %>
<hr />

<h2>Check Up</h2>
<ul>
  <% @checkups.each do |c| %>
    <li>
      <%= c.user.full_name %>
      <br />
      <%= link_to 'Remove', doctor_appointment_path(@doctor, c), method: :delete %>
    </li>
  <% end %>
</ul>
<h2>Sick Visits</h2>
<ul>
  <% @sickvisits.each do |s| %>
    <li>
      <%= s.user.full_name %>
      <br />
      <%= link_to 'Remove', doctor_appointment_path(@doctor, s), method: :delete %>
    </li>
 <% end %>
</ul>
<h2>Annuals</h2>
<ul>
  <% @annuals.each do |a| %>
    <li>
      <%= a.user.full_name %>
      <br />
      <%= link_to 'Remove', doctor_appointment_path(@doctor, a), method: :delete %>
   </li>
 <% end %>
</ul>